* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Arial', sans-serif;
            overflow: hidden;
            background: linear-gradient(135deg, #ffffff 0%, #ffffff 50%, #ffffff 100%);
            height: 100vh;
            position: relative;
        }

       nav {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background-color: #f4eef6;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        img {
            position: absolute;
            left: 20px;
            top: 10px; 
            width: 40px;
            height: 40px;
            z-index: 10;
}

        nav ul {
            list-style: none;
            display: flex;
            gap: 20px;
        }
        section {
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            height: calc(100vh - 60px);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #560a42;
        }

        .profile-pic{   
            width: 300px;
            height: 300px;
        }
        p{
            font-size: 18px;
            color: #ffffff;
            text-align: center;
            margin-top: 20px;
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40px;
            background-color: #440d52;
            display: flex;
            align-items: center;
            justify-content: center;
        }